# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=Natverk-Noc-2026!

# PostgreSQL — uso interno, sem porta publicada no host
POSTGRES_USER=zabbix
POSTGRES_PASSWORD=18o9AGUz2zfS6Ka2PKyuYj547zMX2jSu
POSTGRES_DB=zabbix

TZ=America/Sao_Paulo
